@* ReSharper disable once CheckNamespace *@
@namespace TorchUI.Bootstrap.Components
@inherits TorchComponentBase

<TorchComponentBase
	Tag="@Tag"
	@attributes="UserAttributes"
	id="@_id"
	class="@CssBuilder.Build()">
	<CascadingValue
		Value="@_id"
		Name="ModalId">
		<div class="@CreateDialogCssClasses()">
			<div class="modal-content">
				@ChildContent
			</div>
		</div>
	</CascadingValue>
</TorchComponentBase>